// Variables
$primary-color: #6A63DD;
$text-color: #3C303E;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7;
  color: $text-color;
  // background: $primary-color;
}

.button {
  display: inline-block;
  padding: 12px 20px;
  color: #fff;
  background: $primary-color;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  transition: all .3s ease;
  border-radius: 4px;
  box-shadow: 0 3px 10px rgba($primary-color, .2);
  border: 2px solid $primary-color;
  margin: 0 10px;

  &:hover {
    background: darken($primary-color, 5%);
    transform: translateY(5px)
  }

  &--xl {
    padding: 10px 30px;
    font-size: 1.2em;
  }

  &--outline {
    background: transparent;
    color: $primary-color;
    border: 2px solid $primary-color;

    &:hover {
      color: #fff;
    }
  }
}

// heading
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-weight: bold;
}

.h2 {
  font-size: 35px;
  margin-bottom: 0;
}

.h3 {
  font-size: 25px;
  margin-bottom: 0;
}

// form
input {
  border: 1px solid rgba($primary-color, .5);
  display: block;
  width: 100%;
  height: 42px;
  padding: 10px 12px;
  outline: none;
  margin-bottom: 1.2em;
  font-size: 15px;
  transition: all .3s ease;

  &:hover,
  &:focus {
    border-width: 2px;
  }
}

input[type="submit"] {
  width: initial;
  background: $primary-color;
  color: #fff;
  font-weight: bold;
  padding: 10px 30px;
  cursor: pointer;
}

// Flashes
.message {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: #e6f7ff;
  border: 1px solid #91d5ff;
  color: rgba(0, 0, 0, 0.65);
  border-radius: 4px;
  font-size: 14px;
  width: 40%;
  margin: auto;
  padding: 8px 20px;
  box-shadow: 0 10px 15px rgba(#fff, .4);

  &.error {
    background: #fff1f0;
    border: 2px solid #ffa39e;
  }
}

#index {
  text-align: center;
  max-width: 600px;
  margin: 10em auto;

  p {
    margin-top: 0;
  }

  .button {
    margin-top: 1em;
  }
}

.bg {
  padding-top: 5em;
  background: url('../images/bg.png') no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;

  &.white {
    background: #fff;
    padding-top: 1em;

    h2 {
      margin-bottom: 1em;
    }
  }
}

// Reset password
.banner {
  max-width: 800px;
  margin: auto;
  background-color: #fff;
  display: flex;
  overflow: hidden;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.12);

  &__illustration {
    width: 40%;
    background: url('../images/illustration.png') no-repeat center center;
    background-size: cover;
  }

  &__form {
    padding: 80px;
    width: 60%;

    p {
      margin-top: 0;
      color: rgba($text-color, .7)
    }
  }
}

// reset password
.submit-reset {
  .h3 {
    font-size: 23px;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.5;
  }
}

.middle {
  max-width: 600px;
  margin: 0 auto 5em;
  text-align: center;

  img {
    display: block;
    width: 100%;
  }

  .button {
    margin-top: 3em;
  }
}
