extends layout

block content
  .container
    #index
      h2.h2 Welcome to Notflix
      p To learn more about our features, hit the button bellow.
      a.button.button--xl(href="/documentation") Go to the docs
      a.button.button--xl.button--outline(href="http://45.32.112.127:5000/") Go to CMS
